@model InsanSecViewModel

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}

@section CalisanSec{
    <form asp-action="CalisanSec" asp-controller="Admin" method="post" class="form-inline input-group p-0 col-12">
        <input asp-for="InsanTckn" class="form-control mr-sm-0 rounded-left" placeholder="Seçilecek Kişinin TCKN numarasını giriniz">
        <div class="input-group-append">
            <button class="btn btn-primary rounded-right px-3" type="submit">Seç</button>
        </div>
    </form>
    <div class="col">
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mb-2" asp-validation-for="InsanTckn">
        </span>
        <div asp-validation-summary="ModelOnly" class="font-weight-bold text-danger bg-light text-danger rounded mb-2">

        </div>

    </div>
    @if (ViewBag.SecilenKisi != null)
    {
        @await Component.InvokeAsync("Insanlar", ViewBag.SecilenKisi)
    }

    @if (TempData["KisiGuncellendi"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["KisiGuncellendi"]</div>
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById("successMessage");
                successMessage.remove();
            }, 2500);
        </script>
    }



}