@model CinsEkleViewModel

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}

@section CinsSil{
    <form asp-action="CinsSil" asp-controller="Admin" method="post">
        <div class="form-row">
            <div class="col">
                <select asp-for="Id" class="form-control" id="mySelect">
                    <option selected disabled>Silinecek Cinsi Seçiniz</option>
                    @foreach (var cins in Model.Cinsler)
                    {
                        <option value="@cins.Value">@cins.Text</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Sil</button>

        </div>
        <div class="col">
            <span class="row font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="Id">
            </span>
        </div>

    </form>

    @if (TempData["CinsSilindi"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["CinsSilindi"]</div>
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById("successMessage");
                successMessage.remove();
            }, 2500);
        </script>
    }

  
}