@model KisiEkleViewModel

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}


<form asp-action="KisiEkle" asp-controller="Admin" method="post">
    <div class="form-col">
        <div class="col mb-2">
            <input type="text" asp-for="InsanAdi" class="form-control" placeholder="Adı">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="InsanAdi">
        </span>
        <div class="col mb-2">
            <input type="text" asp-for="InsanSoyadi" class="form-control" placeholder="Soyadı">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="InsanSoyadi">
        </span>
        <div class="col mb-2">
            <input type="text" asp-for="InsanTckn" class="form-control" placeholder="TCKN">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="InsanTckn">
        </span>
        <div class="col mb-2">
            <input type="email" asp-for="Email" class="form-control" placeholder="Mail Adresi">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="Email">
        </span>
        <div class="col mb-2">
            <input type="tel" asp-for="PhoneNumber" class="form-control form-control-sm" placeholder="Telefon Numarası">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="PhoneNumber">
        </span>
        <div class="col mb-2">
            <input type="text" asp-for="DiplomaNo" class="form-control" placeholder="Diploma Seri No">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="DiplomaNo">
        </span>
        <div class="col mb-2">
            <select class="custom-select form-control" asp-for="RolId" asp-items="Model.RollerListesi">
                <option selected disabled>Çalışan Kişinin Görevini Seçin</option>
            </select>
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="RolId">
        </span>
        @if (!string.IsNullOrEmpty(ViewBag.Hata))
        {
            <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2">
                @ViewBag.Hata
            </span>
        }
        <div class="col mb-2">
            <button type="submit" class="col btn btn-dark rounded mb-2">Ekle</button>
            <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="Error">
            </span>
        </div>
    </div>


</form>




@if (TempData["CalısanEklendi"] != null)
{
    <div class="alert alert-success" role="alert" id="CalısanEklendi">
        @TempData["CalısanEklendi"]
    </div>

}


@section scripts {
    <script>
        setTimeout(function () {
            var message = document.getElementById("CalısanEklendi");
            message.remove();
        }, 5000);
    </script>
}
