<p id="bilgiler">

</p>

<div id="radioButtons">

</div>

<table class="table table-responsive table-hover table-dark text-left mb-2 rounded-top-md">
    <thead id="tableHeader">

    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<div id="table-controls">

</div>

@if (ViewBag.StokId != null)
{
    <span hidden="hidden" id="stokId">@ViewBag.StokId</span>
}

@section scripts{
    <script>

        $(document).ready(function () {
            var startIndex;
            var endIndex;
            var liste = [];
            var stokHareket = [];
            var gosterilecekItemListesi = [];
            var currentPage = 1;
            var itemsPerPage = 10;
            var siralamaYonleri = {};
            let id = document.getElementById("stokId").textContent;

            function veriYukle() {
                $.ajax({
                    url: `/Admin/StokDetayData`,
                    type: "POST",
                    data: { secilenStokId: id },
                    success: function (response) {
                        if (response && response.stokHareketDetayListesi) {
                            liste = response.stokHareketDetayListesi;
                            tabloyuDoldurHepsi();
                            bilgileriGetir(response);

                        } else {
                            console.error("stokHareketDetayListesi boş ya da undefined.");
                        }
                    },
                });
                veriYukleHepsi();
            }

            veriYukle();

            function bilgileriGetir(response) {
                var bilgiBody = document.getElementById("bilgiler");
                bilgiBody.innerHTML = "";
                var aciklama = response.aciklama;
                var aktifMi = response.aktifMi ? "Güncel" : "Güncel Değil"
                var birimAdi = response.birimAdi;
                var kategoriAdi = response.kategoriAdi;
                var ortalamaAlisFiyati = response.ortalamaAlisFiyati;
                var stokAdi = response.stokAdi;
                var stokBarkod = response.stokBarkod;
                var stokSayisi = response.stokSayisi;

                var p = `<p class="text-white text-monospace font-weight-bold">Ürün Adı:\xa0${stokAdi} \xa0\xa0\ Barkod Numarası:\xa0${stokBarkod} \xa0\xa0\ Kategorisi:\xa0${kategoriAdi} </p>
                                                                         <hr style="border-color:white;">
                                                                         <p class="text-white text-monospace font-weight-bold">Stok Miktarı:\xa0${stokSayisi} ${birimAdi}\xa0\xa0Ortalama Alış Fiyatı:\xa0${ortalamaAlisFiyati}₺\xa0\xa0Stok Durumu:\xa0${aktifMi}</p>
                                                                         <hr style="border-color:white;">
                                                                         <p class="text-white text-monospace font-weight-bold">Açıklama:\xa0${aciklama}</p>`
                bilgiBody.innerHTML = p;

                var radioButtons = $("#radioButtons")
                radioButtons.html(`<div class="mb-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radioButton" id="hepsiniGoster" checked="checked">
                                            <label class="form-check-label" for="hepsiniGoster">Hepsini Göster</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radioButton" id="alislariGoster">
                                            <label class="form-check-label" for="alislariGoster">Alışları Göster</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="radioButton" id="satislariGoster">
                                            <label class="form-check-label" for="satislariGoster">Satışları Göster</label>
                                        </div>
                                    </div>`
                );
            }

            function tabloyuDoldurHepsi() {
                var tableHeader = $('#tableHeader');
                tableHeader.empty();
                var tableHeaderRow = `<tr>
                                          <th scope="col" class="text-center p-0 py-2 pl-1">
                                              <span role="button" id="stokHareketId">
                                                  İşlem No <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="alisFiyati">
                                                  Alış Fiyatı <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="alisTarihi">
                                                  Alış Tarihi <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="stokGirisAdet">
                                                  Adet <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="satisFiyati">
                                                  Satış Fiyatı <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="satisTarihi">
                                                  Satış Tarihi <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="stokCikisAdet">
                                                  Adet <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      
                                          <th scope="col" class="text-center p-0 py-2">
                                              <span role="button" id="calisanAdi">
                                                  Çalışan <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      </tr>`
                tableHeader.append(tableHeaderRow);

                var tableBody = $('#tableBody');
                tableBody.empty();

                // Sayfalandırma hesaplamaları
                startIndex = 0;
                endIndex = 0;
                startIndex = (currentPage - 1) * itemsPerPage;
                endIndex = Math.min(startIndex + itemsPerPage, liste.length);

                gosterilecekItemListesi = [];
                for (var i = 0; i < liste.length; i++) {

                    gosterilecekItemListesi.push(liste[i]);
                }

                for (var i = startIndex; i < endIndex; i++) {

                    stokHareket = [];
                    stokHareket = liste[i];


                    var stokHareketId = stokHareket.stokHareketId;
                    var alisFiyati = stokHareket.alisFiyati || " ";
                    var alisTarihi = formatDate(stokHareket.alisTarihi);
                    var stokGirisAdet = stokHareket.stokGirisAdet || " ";
                    var satisFiyati = stokHareket.satisFiyati || " ";
                    var satisTarihi = formatDate(stokHareket.satisTarihi);
                    var stokCikisAdet = stokHareket.stokCikisAdet || " ";
                    var calisanAdi = stokHareket.calisanAdi;
                    var calisanSoyadi = stokHareket.calisanSoyadi
                    var row = `<tr>
                                                   <td class="col-1 text-center">${stokHareketId}</td>
                                                   <td class="col-2 text-center">${alisFiyati}</td>
                                                   <td class="col-2 text-center">${alisTarihi}</td>
                                                   <td class="col-1 text-center">${stokGirisAdet}</td>
                                                   <td class="col-2 text-center">${satisFiyati}</td>
                                                   <td class="col-2 text-center">${satisTarihi}</td>
                                                   <td class="col-1 text-center">${stokCikisAdet}</td>
                                                   <td class="col-1 text-center">${calisanAdi} ${calisanSoyadi}</td>
                                               </tr>`;
                    tableBody.append(row);
                }

                var sonSayfa = Math.min(startIndex + itemsPerPage, gosterilecekItemListesi.length);
                kayitlarBilgileriniGetir(gosterilecekItemListesi, startIndex, sonSayfa);

            }

            function tabloyuDoldurAlislar() {
                var tableHeader = $('#tableHeader');
                tableHeader.empty();
                var tableHeaderRow = `<tr>
                                                          <th scope="col" class="text-center p-0 py-2 pl-1">
                                                              <span role="button" id="stokHareketId">
                                                                  İşlem No <i class="fa-solid fa-sort"></i>
                                                              </span>
                                                          </th>

                                                          <th scope="col" class="text-center  p-0 py-2">
                                                              <span role="button" id="alisFiyati">
                                                                  Alış Fiyatı <i class="fa-solid fa-sort"></i>
                                                              </span>
                                                          </th>

                                                          <th scope="col" class="text-center  p-0 py-2">
                                                              <span role="button" id="alisTarihi">
                                                                  Alış Tarihi <i class="fa-solid fa-sort"></i>
                                                              </span>
                                                          </th>

                                                          <th scope="col" class="text-center  p-0 py-2">
                                                              <span role="button" id="stokGirisAdet">
                                                                  Adet <i class="fa-solid fa-sort"></i>
                                                              </span>
                                                          </th>

                                                          <th scope="col" class="text-center p-0 py-2">
                                                              <span role="button" id="calisanAdi">
                                                                  Çalışan <i class="fa-solid fa-sort"></i>
                                                              </span>
                                                          </th>
                                                      </tr>`
                tableHeader.append(tableHeaderRow);


                var tableBody = $('#tableBody');
                tableBody.empty();

                gosterilecekItemListesi = [];

                for (var i = 0; i < liste.length; i++) {
                    if (liste[i].alisFiyati == null || liste[i].alisTarihi == null || liste[i].stokGirisAdet == null) {
                        continue;
                    }
                    gosterilecekItemListesi.push(liste[i]);
                }
                startIndex = 0;
                endIndex = 0;
                startIndex = (currentPage - 1) * itemsPerPage;
                endIndex = Math.min(startIndex + itemsPerPage, gosterilecekItemListesi.length);

                for (var i = startIndex; i < endIndex; i++) {
                    stokHareket = [];
                    stokHareket = gosterilecekItemListesi[i];
                    var stokHareketId = stokHareket.stokHareketId;
                    var alisFiyati = stokHareket.alisFiyati || " ";
                    var alisTarihi = formatDate(stokHareket.alisTarihi);
                    var stokGirisAdet = stokHareket.stokGirisAdet || " ";
                    var calisanAdi = stokHareket.calisanAdi;
                    var calisanSoyadi = stokHareket.calisanSoyadi
                    var row = `<tr>
                                  <td class="col-sm-1 text-center">${stokHareketId}</td>
                                  <td class="col-sm-2 text-center">${alisFiyati}</td>
                                  <td class="col-sm-4 text-center">${alisTarihi}</td>
                                  <td class="col-sm-2 text-center">${stokGirisAdet}</td>
                                  <td class="col-sm-3 text-center">${calisanAdi} ${calisanSoyadi}</td>
                              </tr>`;
                    tableBody.append(row);
                }

                var sonSayfa = Math.min(startIndex + itemsPerPage, gosterilecekItemListesi.length);
                kayitlarBilgileriniGetir(gosterilecekItemListesi, startIndex, sonSayfa);

            }

            function tabloyuDoldurSatislar() {
                var tableHeader = $('#tableHeader');
                tableHeader.empty();
                var tableHeaderRow = `<tr>
                                          <th scope="col" class="text-center p-0 py-2 pl-1">
                                              <span role="button" id="stokHareketId">
                                                  İşlem No <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>

                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="satisFiyati">
                                                  Satış Fiyatı <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>

                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="satisTarihi">
                                                  Satış Tarihi <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>

                                          <th scope="col" class="text-center  p-0 py-2">
                                              <span role="button" id="stokCikisAdet">
                                                  Adet <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>

                                          <th scope="col" class="text-center p-0 py-2">
                                              <span role="button" id="calisanAdi">
                                                  Çalışan <i class="fa-solid fa-sort"></i>
                                              </span>
                                          </th>
                                      </tr>`
                tableHeader.append(tableHeaderRow);
                var tableBody = $('#tableBody');
                tableBody.empty();

                gosterilecekItemListesi = [];

                for (var i = 0; i < liste.length; i++) {
                    if (liste[i].satisFiyati == null || liste[i].satisTarihi == null || liste[i].stokCikisAdet == null) {
                        continue;
                    }
                    gosterilecekItemListesi.push(liste[i]);
                }
                startIndex = 0;
                endIndex = 0;
                startIndex = (currentPage - 1) * itemsPerPage;
                endIndex = Math.min(startIndex + itemsPerPage, gosterilecekItemListesi.length);

                for (var i = startIndex; i < endIndex; i++) {
                    stokHareket = [];
                    stokHareket = gosterilecekItemListesi[i];
                    var stokHareketId = stokHareket.stokHareketId;
                    var satisFiyati = stokHareket.satisFiyati || " ";
                    var satisTarihi = formatDate(stokHareket.satisTarihi);
                    var stokCikisAdet = stokHareket.stokCikisAdet || " ";
                    var calisanAdi = stokHareket.calisanAdi;
                    var calisanSoyadi = stokHareket.calisanSoyadi
                    var row = `<tr>
                                  <td class="col-2 text-center">${stokHareketId}</td>
                                  <td class="col-2 text-center">${satisFiyati}</td>
                                  <td class="col-3 text-center">${satisTarihi}</td>
                                  <td class="col-2 text-center">${stokCikisAdet}</td>
                                  <td class="col-3 text-center">${calisanAdi} ${calisanSoyadi}</td>
                              </tr>`;
                    tableBody.append(row);
                }

                var sonSayfa = Math.min(startIndex + itemsPerPage, gosterilecekItemListesi.length);
                kayitlarBilgileriniGetir(gosterilecekItemListesi, startIndex, sonSayfa);
            }

            function sayfaNumaralarınıGuncelle() {
                var totalPages = Math.ceil(gosterilecekItemListesi.length / itemsPerPage);
                var pageNumbers = $('#pageNumbers');
                pageNumbers.empty();

                $('#firstPage').prop('disabled', currentPage === 1);
                $('#prevPage').prop('disabled', currentPage === 1);
                $('#nextPage').prop('disabled', currentPage === totalPages);
                $('#lastPage').prop('disabled', currentPage === totalPages);

                if (totalPages <= 1) {
                    $('#firstPage').hide();
                    $('#prevPage').hide();
                    $('#nextPage').hide();
                    $('#lastPage').hide();
                    return;
                }

                $('#firstPage').show();
                $('#prevPage').show();
                $('#nextPage').show();
                $('#lastPage').show();

                for (var i = 1; i <= totalPages; i++) {
                    if (i === 1 || i === totalPages || Math.abs(currentPage - i) <= 1) {
                        var button = $('<button>').text(i).attr('data-page', i).toggleClass('active', i === currentPage);
                        pageNumbers.append(button);
                    } else if (i === currentPage - 2 || i === currentPage + 2) {
                        pageNumbers.append($('<span>').text('...'));
                    }
                }
            }

            function formatDate(dateString) {

                if (dateString == null) {
                    return "";
                }
                var date = new Date(dateString);

                var day = String(date.getDate()).padStart(2, '0');
                var month = String(date.getMonth() + 1).padStart(2, '0');
                var year = date.getFullYear();
                var hours = String(date.getHours()).padStart(2, '0');
                var minutes = String(date.getMinutes()).padStart(2, '0');


                return `${day}-${month}-${year} ${hours}:${minutes}`;
            }

            function sirala(sutun) {

                var yon = siralamaYonleri[sutun] ? 1 : -1; // Sıralama yönü (artan veya azalan)

                liste.sort(function (a, b) {
                    if (a[sutun] < b[sutun]) {
                        return -1 * yon;
                    }
                    if (a[sutun] > b[sutun]) {
                        return 1 * yon;
                    }
                    return 0;
                });

                // Sıralama yönünü tersine çevir (Bir sonraki tıklamada ters sıralasın)
                siralamaYonleri[sutun] = !siralamaYonleri[sutun];


                if ($('#hepsiniGoster').is(':checked')) {
                    tabloyuDoldurHepsi();
                }
                if ($('#alislariGoster').is(':checked')) {
                    tabloyuDoldurAlislar();
                }
                if ($('#satislariGoster').is(':checked')) {
                    tabloyuDoldurSatislar();
                }

                sayfaNumaralarınıGuncelle(); // Sayfa numaralarını güncelle
            }

            // Sayfa değişimini yönetmek için fonksiyonlar
            function sayfaGuncelle(newPage) {
                currentPage = newPage;

                if ($('#hepsiniGoster').is(':checked')) {
                    tabloyuDoldurHepsi();
                }
                if ($('#alislariGoster').is(':checked')) {
                    tabloyuDoldurAlislar();
                }
                if ($('#satislariGoster').is(':checked')) {
                    tabloyuDoldurSatislar();
                }
                sayfaNumaralarınıGuncelle();
            }

            // Gösterim seçeneklerinin değişmesi
            $(document).on('change', '#showCount' , function () {
                itemsPerPage = parseInt($(this).val(), 10);
                kayitlarBilgileriniGetir(kayitlarBilgileriniGetir,startIndex,endIndex);
                sayfaGuncelle(1); 
            });

            $(document).on('click', '#firstPage', function () {
                if (!$(this).prop('disabled')) {
                    sayfaGuncelle(1);
                }
            });

            $(document).on('click','#prevPage', function () {
                if (!$(this).prop('disabled')) {
                    sayfaGuncelle(currentPage - 1);
                }
            });

            $(document).on('click', '#nextPage',function () {
                if (!$(this).prop('disabled')) {
                    sayfaGuncelle(currentPage + 1);
                }
            });

            $(document).on('click', '#lastPage',function () {
                if (!$(this).prop('disabled')) {
                    console.log("son")
                    sayfaGuncelle(Math.ceil(liste.length / itemsPerPage));
                }
            });

            $(document).on('click', '#pageNumbers button', function () {
                var page = parseInt($(this).attr('data-page'), 10);
                sayfaGuncelle(page);
            });

            // Sıralama başlıklarına tıklama olaylarını ekleyin
            $(document).on('click', '#stokHareketId', function (e) {
                sirala('stokHareketId');
            });

            $(document).on('click', '#alisFiyati', function (e) {
                sirala('alisFiyati');
            });

            $(document).on('click', '#alisTarihi', function (e) {
                sirala('alisTarihi');
            });

            $(document).on('click', '#stokGirisAdet', function (e) {
                sirala('stokGirisAdet');
            });

            $(document).on('click', '#satisFiyati', function (e) {
                sirala('satisFiyati');
            });

            $(document).on('click', '#satisTarihi', function (e) {
                sirala('satisTarihi');
            });

            $(document).on('click', '#stokCikisAdet', function (e) {
                sirala('stokCikisAdet');
            });

            $(document).on('click', '#calisanAdi', function (e) {
                sirala('calisanAdi');
            });

            $(document).on('click', '#hepsiniGoster', veriYukleHepsi)
            $(document).on('click', '#alislariGoster', veriYukleAlislar)
            $(document).on('click', '#satislariGoster', veriYukleSatislar)

            function veriYukleHepsi() {

                tabloyuDoldurHepsi();
                sayfaGuncelle(1);
            }
            function veriYukleAlislar() {

                tabloyuDoldurAlislar();
                sayfaGuncelle(1);

            }
            function veriYukleSatislar() {

                tabloyuDoldurSatislar();
                sayfaGuncelle(1);
            }
            function kayitlarBilgileriniGetir(kayitListesi, ilkSayfadakiKayitSayisi, sonSayfadakiKayitSayisi) {
                var kayitBilgileri = $('#table-controls');
                var selectedCount = $('#showCount').val() || 10;


                kayitBilgileri.html(`
                    <div class="show-options">
                        <label for="showCount">Sayfada Gösterilecek Kayıt Sayısı:</label>
                        <select id="showCount">
                            <option value="10" ${selectedCount == 10 ? 'selected' : ''}>10</option>
                            <option value="20" ${selectedCount == 20 ? 'selected' : ''}>20</option>
                            <option value="50" ${selectedCount == 50 ? 'selected' : ''}>50</option>
                        </select>
                        <span id="totalCount">Toplam ${kayitListesi.length} kayıt bulunmuştur. ${ilkSayfadakiKayitSayisi + 1}. kayıttan ${sonSayfadakiKayitSayisi}. kayıta kadar gösterilmektedir.</span>
                    </div>

                    <div class="pagination">
                        <button id="firstPage" disabled>İlk</button>
                        <button id="prevPage" disabled>Önceki</button>
                        <span id="pageNumbers"></span>
                        <button id="nextPage" disabled>Sonraki</button>
                        <button id="lastPage" disabled>Son</button>
                    </div>
                `);
                sayfaNumaralarınıGuncelle()
            }
        });
    </script>


}