@model TurEKleViewModel

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}


    <form asp-action="TurEkle" asp-controller="Admin" method="post">
        <div class="form-row">
            <div class="col">
                <input asp-for="tur" class="form-control" placeholder="Tür Adı">
            </div>
            <button type="submit" class="btn btn-dark rounded mb-2">Ekle</button>
        </div>
        <div class="col">
            <span class="row font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="tur">
            </span>
        </div>
    </form>


    @if (TempData["TurEklendi"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["TurEklendi"]</div>

    }


@section scripts {
    <script>
        setTimeout(function () {
            var successMessage = document.getElementById("successMessage");
            successMessage.remove();
        }, 1500);
    </script>
}