@model (List<Tur>, Tur)

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}

@section TurSil {
    <form asp-action="TurSil" asp-controller="Admin" method="post" onsubmit="return validateSelection()">
        <div class="form-row">
            <div class="col">
                <select asp-for="Item2.tur" class="form-control" name="secilenTur" id="mySelect">
                    <option value="mySelect">Silinecek Rengi Seçiniz</option>
                    @foreach (var item in Model.Item1)
                    {
                        <option value="@item.tur">@item.tur</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Sil</button>
        </div>
        <div class="col">
            <span class="row font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="Item2.tur">
            </span>
            <span class="row font-weight-bold text-danger bg-light text-danger rounded" id="Error">
            </span>
        </div>
    </form>

    @if (TempData["TurSilindi"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["TurSilindi"]</div>
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById("successMessage");
                successMessage.remove();
            }, 2500);
        </script>
    }

    <script>
        function validateSelection() {
            var selectElement = document.getElementById('mySelect');
            var selectedValue = selectElement.value;

            if (selectedValue === 'mySelect') {
                document.getElementById('Error').innerText = 'Lütfen bir tür seçiniz.';
                return false; // Form submit işlemi durdurulacak
            }

            // Hata yoksa, form submit işlemine izin ver
            document.getElementById('Error').innerText = ''; // Hata mesajını temizle
            return true;
        }
    </script>
}
