<div claas="list-group">
    <div class="list-group p-1" data-toggle="collapse" data-target="#hayvanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3 ">Hayvan İşlemleri</div>
        <div class="collapse navbar-collapse" id="hayvanIslemleri">
            <a href="/Admin/RenkEkle" class="list-group-item list-group-item-action list-group-item-dark">Renk Ekle</a>
            <a href="/Admin/RenkSil" class="list-group-item list-group-item-action list-group-item-dark">Renk Sil</a>
            <a href="/Admin/CinsEkle" class="list-group-item list-group-item-action list-group-item-dark">Cins Ekle</a>
            <a href="/Admin/CinsSil" class="list-group-item list-group-item-action list-group-item-dark">Cins Sil</a>
            <a href="/Admin/Turekle" class="list-group-item list-group-item-action list-group-item-dark">Tür Ekle</a>
            <a href="/Admin/Tursil" class="list-group-item list-group-item-action list-group-item-dark">Tür Sil</a>
            <a href="/Admin/CinsTurEslestir" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Eşleştirme</a>
            <a href="/Admin/CinsTurEslesmeKaldir" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Eşleşme Kaldır</a>
        </div>
    </div>



    <div class="list-group p-1" data-toggle="collapse" data-target="#calisanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Kullanıcı İşlemleri</div>
        <div class="collapse navbar-collapse" id="calisanIslemleri">
            <a href="/Admin/RolEkle" class="list-group-item list-group-item-action list-group-item-dark">Rol Ekle</a>
            <a href="/Admin/RolSil" class="list-group-item list-group-item-action list-group-item-dark">Rol Sil</a>
            <a href="/Admin/KisiEkle" class="list-group-item list-group-item-action list-group-item-dark">Kişi Ekle</a>
            <a href="/Admin/Kisisec" class="list-group-item list-group-item-action list-group-item-dark">Kişi Kaydı Düzenleme</a>
            <a href="/Admin/KisileriListele" class="list-group-item list-group-item-action list-group-item-dark">Kişileri Listele</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Maaş Bilgisi</a>
        </div>
    </div>

    <div class="list-group p-1" data-toggle="collapse" data-target="#StokIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Stok İşlemleri</div>
        <div class="collapse navbar-collapse" id="StokIslemleri">
            <a href="/Admin/KategoriEkle" class="list-group-item list-group-item-action list-group-item-dark">Kategori Ekle</a>
            <a href="/Admin/KategoriSil" class="list-group-item list-group-item-action list-group-item-dark">Kategori Sil</a>
            <a href="/Admin/BirimEkle" class="list-group-item list-group-item-action list-group-item-dark">Birim Ekle</a>
            <a href="/Admin/BirimSil" class="list-group-item list-group-item-action list-group-item-dark">Birim Sil</a>
            <a href="/Admin/StokKartiOlustur" class="list-group-item list-group-item-action list-group-item-dark">Stok Kartı Oluştur</a>
            <a href="/Admin/StokGoruntule" class="list-group-item list-group-item-action list-group-item-dark">Stok Görüntüle</a>
            <a href="/Admin/StokDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Stok Düzenle</a>
            <a href="/Admin/StokGiris" class="list-group-item list-group-item-action list-group-item-dark">Stok Giriş</a>
            <a href="/Admin/StokCikis" class="list-group-item list-group-item-action list-group-item-dark">Stok Çikiş</a>

        </div>
    </div>
</div>