<div claas="list-group">
    <div class="list-group p-1" data-toggle="collapse" data-target="#hayvanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3 ">Hayvan İşlemleri</div>
        <div class="collapse navbar-collapse" id="hayvanIslemleri">
            <a href="/admin/renkekle" class="list-group-item list-group-item-action list-group-item-dark">Renk Ekle</a>
            <a href="/admin/renksil" class="list-group-item list-group-item-action list-group-item-dark">Renk Sil</a>
            <a href="/admin/cinsEkle" class="list-group-item list-group-item-action list-group-item-dark">Cins Ekle</a>
            <a href="/admin/cinsSil" class="list-group-item list-group-item-action list-group-item-dark">Cins Sil</a>
            <a href="/admin/turekle" class="list-group-item list-group-item-action list-group-item-dark">Tür Ekle</a>
            <a href="/admin/tursil" class="list-group-item list-group-item-action list-group-item-dark">Tür Sil</a>
            <a href="/admin/CinsTur" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Eşleştirme</a>
            <a href="/admin/CinsTurSil" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Sil</a>
        </div>
    </div>



    <div class="list-group p-1" data-toggle="collapse" data-target="#calisanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Çalışan İşlemleri</div>
        <div class="collapse navbar-collapse" id="calisanIslemleri">
            <a href="/admin/rolekle" class="list-group-item list-group-item-action list-group-item-dark">Rol Ekle</a>
            <a href="/admin/rolsil" class="list-group-item list-group-item-action list-group-item-dark">Rol Sil</a>
            <a href="/admin/calisanekle" class="list-group-item list-group-item-action list-group-item-dark">Çalışan Ekle</a>
            <a href="/admin/calisansec" class="list-group-item list-group-item-action list-group-item-dark">Çalışan Kaydı Düzenleme</a>
            <a href="/admin/calisanListele" class="list-group-item list-group-item-action list-group-item-dark">Çalışanları Listele</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Maaş Bilgisi</a>
        </div>
    </div>
</div>