

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-start">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a href="/home/index" class="navbar-brand">Ana Sayfa</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="/admin/AdminIndex" class="nav-link">Admin İşlemleri</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">Çalışan İşlemleri</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link"> Veteriner İşlemleri</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">Hakkımızda</a>
                </li>
            </ul>
        </div>
        <form class="form-inline input-group p-0 col-5" action="#" method="get">
            <input class="form-control mr-sm-0 rounded-left bg-light" type="text" placeholder="Hayvan Ara" />
            <div class="input-group-append">
                <button class="btn btn-outline-info rounded-right px-3" type="submit">Ara</button>
            </div>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mx-2">
                <a href="/Account/login" class="nav-link">Giriş Yap</a>
            </li>
            <li class="nav-item active mx-2">
                <a href="/Account/logout" class="nav-link">Çıkış Yap</a>
            </li>
        </ul>
</nav>