@model StokGirisKaydetViewModel

<form asp-action="StokGirisKaydet" asp-controller="Admin" method="post">
    <div class="form-row mt-3">
        <label asp-for="StokId" class="col-md-2 col-form-label pr-0 font-weight-bold text-white">Stok Seçiniz</label>

        <div class="col-md-10">
            <select asp-for="StokId" class="form-control" asp-items="Model.AramaSonucListesi">
                <option selected disabled>Stok Girişi Yapılacak Stoğu Seçiniz</option>
            </select>
            <div class="my-2">
                <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="StokId">
                </span>
            </div>
        </div>
    </div>

    <div class="form-row">
            <label asp-for="AlisTarihi" class="col-md-2 col-form-label pr-0 font-weight-bold text-white">Alış Tarihi</label>
            <div class="col-md-10">
                <input type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="AlisTarihi" class="form-control">
                <div class="my-2">
                    <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="AlisTarihi">
                    </span>
                </div>
            </div>
    </div>

    <div class="form-row">
        <label asp-for="StokGirisAdet" class="col-md-2 col-form-label pr-0 font-weight-bold text-white">Adet</label>

        <div class="col-md-10">
            <input type="number" step="0.01" min="0" asp-for="StokGirisAdet" class="form-control" placeholder="Miktar">
            <div class="my-2">
                <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="StokGirisAdet">
                </span>
            </div>
        </div>
    </div>

    

    @for (int i = 0; i < Model.ImzaListesi.Count; i++)
    {
        <input type="hidden" asp-for="ImzaListesi[i]" value="@Model.ImzaListesi[i]" />
    }

    <button type="submit" class="col btn btn-dark rounded my-2">Kaydet</button>
</form>