
@model EditUserViewModel;
@{
    Layout = "_LayoutAccount";
}

@section editUser{
    <h3>
        <i class="fa-solid fa-user-pen"></i>        Bilgileri Düzenle

        <hr />
    </h3>
    <form asp-action="SaveEdit" asp-controller="User" method="post" enctype="multipart/form-data">
        <div class="form-col">

            <div class="form-group row mb-3">
                <label asp-for="InsanAdi" class="col-sm-2 col-form-label">Adı</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="InsanAdi" class="form-control" placeholder="Adı">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="InsanAdi">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="InsanSoyadi" class="col-sm-2 col-form-label">Soyadı</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="InsanSoyadi" class="form-control" placeholder="Soyadı">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="InsanSoyadi">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Telefon Numarası</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Telefon Numarası">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="PhoneNumber">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="Email">
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label asp-for="UserName" class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                <div class="col-sm-10">
                    <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı">
                    <div class="mt-2">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="UserName">
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" name="photoOption" asp-for="PhotoOption" class="custom-control-input" value="keepPhoto" checked="checked">
                        <label class="custom-control-label" for="customRadio1">Fotoğrafı Değiştirme</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" name="photoOption" asp-for="PhotoOption" class="custom-control-input" value="changePhoto">
                        <label class="custom-control-label" for="customRadio2">Fotoğrafı Değiştir</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio3" name="photoOption" asp-for="PhotoOption" class="custom-control-input" value="useDefault">
                        <label class="custom-control-label" for="customRadio3">Fotoğraf Kullanma</label>
                    </div>
                </div>


                <div class="col-sm-10 d-block">
                    <div class="custom-file w-100 mh-100 h-75">
                        <input type="file" class="custom-file-input h-100" id="customFileLangHTML" asp-for="filePhoto" accept=".jpg,.jpeg,.png,.gif">
                        <label class="custom-file-label h-100 etiket" for="customFileLangHTML" data-browse="Seç">
                            Fotoğraf Seç
                        </label>
                    </div>
                    <div class="mt-2 mb-5">
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="filePhoto">
                        </span>
                        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="PhotoOption">
                        </span>
                    </div>
                </div>

            </div>

            <input type="hidden" asp-for="Id" />
        </div>
        <button type="submit" class="col btn btn-dark rounded mb-3">Düzenle</button>
    </form>

    @if (TempData["EditUser"] != null)
    {
        <div class="alert alert-success" id="successMessage">@TempData["EditUser"]</div>
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById("successMessage");
                successMessage.remove();
            }, 2500);
        </script>
    }

    <script>

        document.querySelector('.custom-file-input').addEventListener('change', function (event) {
            var inputFile = event.currentTarget;
            var fileName = inputFile.files[0].name;
            var label = inputFile.nextElementSibling;
            label.innerHTML = fileName;
        });

    </script>
}

