
@model EditUserViewModel;


<h3 class="font-weight-bold text-white">
    Bilgileri Düzenle   <i class="fa-solid fa-user-pen"></i>

    <hr />
</h3>
<form asp-action="SaveEdit" asp-controller="User" method="post" enctype="multipart/form-data">
    <div class="form-col">
        <div class="col-sm-12 d-inline-flex p-0">
            <div class="d-block col-sm-9 p-0">
                <div class="form-group row mb-3">
                    <label asp-for="InsanAdi" class="col-sm-3 col-form-label pr-0 font-weight-bold text-white">Adı</label>
                    <div class="col-sm-9 pl-0">
                        <input type="text" asp-for="InsanAdi" class="form-control" placeholder="Adı">
                        <div class="mt-2">
                            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="InsanAdi">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="InsanSoyadi" class="col-sm-3 col-form-label pr-0 font-weight-bold text-white">Soyadı</label>
                    <div class="col-sm-9 pl-0">
                        <input type="text" asp-for="InsanSoyadi" class="form-control" placeholder="Adı">
                        <div class="mt-2">
                            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="InsanSoyadi">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="PhoneNumber" class="col-sm-3 col-form-label pr-0 font-weight-bold text-white">Telefon</label>
                    <div class="col-sm-9 pl-0">
                        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Telefon">
                        <div class="mt-2">
                            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="PhoneNumber">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="Email" class="col-sm-3 col-form-label pr-0 font-weight-bold text-white">EMail</label>
                    <div class="col-sm-9 pl-0">
                        <input type="email" asp-for="Email" class="form-control" placeholder="EMail">
                        <div class="mt-2">
                            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="Email">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="UserName" class="col-sm-3 col-form-label pr-0 font-weight-bold text-white">Kullanıcı Adı</label>
                    <div class="col-sm-9 pl-0">
                        <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı">
                        <div class="mt-2">
                            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="UserName">
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="d-inline-flex pl-3">
                <div class="d-flex flex-column align-items-end justify-content-start">
                    <div class="profile-photo-container mb-2">
                        <img id="photoPreview"
                             src="@if (Model.ImgURL != null) { @Model.ImgURL } else { @Url.Content("~/img/user.svg") }"
                             alt="Profil Fotoğrafı" class="rounded" style="height: 240px; object-fit: fill; width: 262px; cursor: pointer;" onclick="window.open(this.src, '_blank')" />
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="radio" id="customRadio1" name="photoOption" asp-for="PhotoOption" class="d-none" value="keepPhoto" checked="checked" />
                        <input type="radio" id="customRadio2" name="photoOption" asp-for="PhotoOption" class="d-none" value="changePhoto">
                        <input type="radio" id="customRadio3" name="photoOption" asp-for="PhotoOption" class="d-none" value="deletePhoto">
                        <label for="customRadio1">
                        </label>
                        <label for="customRadio2">
                            <div type="button" class="btn btn-dark rounded mr-2 mt-2" onclick="document.getElementById('photoInput').click()">
                                Değiştir
                                <i class="fa-solid fa-images"></i>
                            </div>
                        </label>
                        <label for="customRadio3">
                            <div type="button" class="btn btn-dark rounded mt-2" onclick="removePhoto()">
                                Sil
                                <i class="fa-solid fa-trash-arrow-up"></i>
                            </div>
                        </label>


                    </div>
                    <input type="file" id="photoInput" asp-for="filePhoto" class="d-none" accept=".jpg,.jpeg,.png,.gif" onchange="previewPhoto(event)" />
                </div>
            </div>

        </div>
        <input type="hidden" asp-for="Id" />
    </div>
    <button type="submit" class="col btn btn-dark rounded mb-3">Düzenle</button>
    <div class="">
        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="filePhoto">
        </span>
        <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="PhotoOption">
        </span>
</form>

@if (TempData["EditUser"] != null)
{
    <div class="alert alert-success" id="successMessage">@TempData["EditUser"]</div>

}
@section scripts {
    <script>
        setTimeout(function () {
            var successMessage = document.getElementById("successMessage");
            successMessage.remove();
        }, 2500);


        document.querySelector('.custom-file-input').addEventListener('change', function (event) {
            var inputFile = event.currentTarget;
            var fileName = inputFile.files[0].name;
            var label = inputFile.nextElementSibling;
            label.innerHTML = fileName;
        });

         function previewPhoto(event) {
         var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('photoPreview').src = e.target.result;
            };
         reader.readAsDataURL(event.target.files[0]);
         }


         function removePhoto() {
             document.getElementById('photoPreview').src = '@Url.Content("~/img/user.svg")';
             document.getElementById('photoInput').value = '';
         }

    </script>

}


